.App{
    text-align: center;
    background-color: blueviolet;
}


button{
    margin-left:10px;
    border-radius: 10px;
}

input{
    border-radius: 10px;
}

button:hover{
    color:white;
    background-color: rgb(191, 138, 147);
}
